<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <li class="sidebar-nav-item">&nbsp;</li>
      <li class="sidebar-nav-item">Email: <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
      <li class="sidebar-nav-item">Twitter: <a href="{{ site.twitter.url }}">{{ site.twitter.nick }}</a></li>
      <li class="sidebar-nav-item">Github: <a href="{{ site.github.repo }}">{{ site.github.user }}</a></li>
      <li class="sidebar-nav-item">ORCID: <a href="{{ site.orcid.url }}">{{ site.orcid.id }}</a></li>
    </ul>

  </div>
</div>
