    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ HOME_PATH }}">OPEN SCIENCE CODEFEST 2014 <!--{{ site.title }}--></a>
          <div class="nav-collapse">
            <ul class="nav">

              {% if page.url == "{{ site.JB.BASE_PATH }}sessions.html" %}<li class="dropdown active">{% else %}<li class="dropdown">{% endif %}
                <a href="{{ site.JB.BASE_PATH }}sessions.html" class="dropdown-toggle" data-toggle="dropdown">
                  Sessions
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  {% if page.url == "{{ site.JB.BASE_PATH }}sessions.html" %}<li class="active">{% else %}<li>{% endif %}
                  <a href="{{ site.JB.BASE_PATH }}sessions.html">Sessions</a></li>

                  {% if page.url == "{{ site.JB.BASE_PATH }}categories.html" %}<li class="active">{% else %}<li>{% endif %}
                  <a href="{{ site.JB.BASE_PATH }}categories.html">Categories</a></li>

                  {% if page.url == "{{ site.JB.BASE_PATH }}tags.html" %}<li class="active">{% else %}<li>{% endif %}
                  <a href="{{ site.JB.BASE_PATH }}tags.html">Tags</a></li>

                  {% if page.url == "{{ site.JB.BASE_PATH }}pages.html" %}<li class="active">{% else %}<li>{% endif %}
                  <a href="{{ site.JB.BASE_PATH }}pages.html">All Pages</a></li>

                </ul>
              </li>

              {% if page.url == "{{ site.JB.BASE_PATH }}logistics.html" %}<li class="active">{% else %}<li>{% endif %}
              <a href="{{ site.JB.BASE_PATH }}logistics.html">Logistics</a></li>
              {% if page.url == "{{ site.JB.BASE_PATH }}organizers.html" %}<li class="active">{% else %}<li>{% endif %}
              <a href="{{ site.JB.BASE_PATH }}organizers.html">Organizers</a></li>
              {% if page.url == "{{ site.JB.BASE_PATH }}registration.html" %}<li class="active">{% else %}<li>{% endif %}
              <a href="{{ site.JB.BASE_PATH }}registration.html">Registration</a></li>

              <li><a href="{{ site.JB.BASE_PATH }}atom.xml"><i class="icon-rss"></i></a></li>

              <li><a href="http://www.twitter.com/metamattj"><i class="icon-twitter"></i></a></li>

              <li><a href="https://github.com/mbjones"><i class="icon-github"></i></a></li>

              <li><a href="mailto:jones@nceas.ucsb.edu"><i class="icon-envelope"></i></a></li>

            </ul>
          
          </div>
         </div> <!-- /container -->
       </div> <!-- /navbar-inner -->
     </div> <!-- /navbar -->
