    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ HOME_PATH }}">OPEN SCIENCE CODEFEST 2014 <!--{{ site.title }}--></a>
          <div class="nav-collapse">
            <ul class="nav">

              {% if page.url == "/archive" %}<li class="dropdown active">{% else %}<li class="dropdown">{% endif %}
                <a href="{{ site.url }}/archive" class="dropdown-toggle" data-toggle="dropdown">
                  Activities
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  {% if page.url == "/Activities" %}<li class="active">{% else %}<li>{% endif %}
                  <a href="{{ site.url }}/archive">Activities</a></li>

                  {% if page.url == "/categories" %}<li class="active">{% else %}<li>{% endif %}
                  <a href="{{ site.url }}/categories">Categories</a></li>

                  {% if page.url == "/tags" %}<li class="active">{% else %}<li>{% endif %}
                  <a href="{{ site.url }}/tags">Tags</a></li>

                  {% if page.url == "/pages" %}<li class="active">{% else %}<li>{% endif %}
                  <a href="{{ site.url }}/pages">Pages</a></li>

                </ul>
              </li>

              {% if page.url == "/venue" %}<li class="active">{% else %}<li>{% endif %}
              <a href="{{ site.url }}/venue">Venue</a></li>
              {% if page.url == "/organizers" %}<li class="active">{% else %}<li>{% endif %}
              <a href="{{ site.url }}/organizers">Organizers</a></li>

              <li><a href="{{ site.url }}/atom.xml"><i class="icon-rss"></i></a></li>

              <li><a href="http://www.twitter.com/metamattj"><i class="icon-twitter"></i></a></li>

              <li><a href="https://github.com/mbjones"><i class="icon-github"></i></a></li>

              <li><a href="mailto:jones@nceas.ucsb.edu"><i class="icon-envelope"></i></a></li>

            </ul>
          
          </div>
         </div> <!-- /container -->
       </div> <!-- /navbar-inner -->
     </div> <!-- /navbar -->
